{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-dark bg-dark" style='justify-content:flex-start;'>
  <!-- Navbar content -->
    {% if user %}
        <a  class="btn btn-outline-light my-2 my-sm-0" href="/"> Home </a>
        <a  class="btn btn-outline-warning my-2 my-sm-0" href="/logout"> Déconnexion </a>
        <p style='color:white;margin-left: 10px;'> Bonjour {{user.nom}} {{user.prenom}} ! </p>
        <div style='margin-left: auto;'> 
            <a  class="btn btn-outline-primary my-2 my-sm-0"  style='margin-left: auto;' href="/mesjours"> Mes journées </a>
            {% if user.ptscomp >= 30 %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="/journee/add" style='margin-left: auto;' >Crée une journée</a>
            {% endif %}
        </div>
    {% endif %}
    {% if user == false %}
        <a  class="btn btn-outline-primary my-2 my-sm-0" href="/login"> Connexion </a>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"> Crée un compte</a>
    {% endif %}
</nav>

{% if user %}
    <ul>
        {{ user.ptscomp }}
        {{ user.niveau}}
    </ul>
{% endif %}
<div class="col-sm-12">
{% for key, journee in list %}
    <div class="card w-50" >
        <div class="card-body"> 
            <div class="row"> 
                <div><h5 class="card-title"> {{ journee.titre }} </h5> </div>
                <div style='margin-left: auto;'> journée {{journee.niveau}} </div>
            </div>
            <p class="card-text">{{ journee.description}}</p>
            <a href={{ path('journee', {'journee': journee.id}) }} class="btn btn-primary">Détails de la journée</a>
            {% if user %}
                {% if in_list[journee.id] == 0 %}
                    {% if journee.niveau == 'Or' and user.ptscomp >= 30  %}
                        <a href={{ path('add_participant', {'journee': journee.id}) }} class="btn btn-primary">Participer</a>
                    {% endif %}
                    {% if journee.niveau == 'Argent' and user.ptscomp >= 10  %}
                        <a href={{ path('add_participant', {'journee': journee.id}) }}  class="btn btn-primary">Participer</a>
                    {% endif %}
                    {% if journee.niveau == 'Bronze' and user.ptscomp >= 0  %}
                        <a href={{ path('add_participant', {'journee': journee.id}) }}  class="btn btn-primary">Participer</a>
                    {% endif %}
                {% endif %}
                {% if in_list[journee.id] == 1 %}
                    <a href="#" class="btn btn-dark">Déjà inscrit</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}
