{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark" style='justify-content:flex-start;'>
            <a  class="btn btn-outline-light my-2 my-sm-0" href="/"> Home </a>
            <a  class="btn btn-outline-primary my-2 my-sm-0" href="/login"> Connexion </a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"> Crée un compte</a>
    </nav>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.pts_comp) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
