{% extends 'base.html.twig' %}

{% block title %}Hello JourneeController!{% endblock %}

{% block body %}
<h1>Titre</h1>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .test {margin: 1em auto; max-width: 800px;}
</style>
<nav class="navbar navbar-dark bg-dark" style='justify-content:flex-start;'>
  <!-- Navbar content -->
    {% if user %}
        <a  class="btn btn-outline-light my-2 my-sm-0" href="/"> Home </a>
        <a  class="btn btn-outline-warning my-2 my-sm-0" href="/logout"> Déconnexion </a>
        <p style='color:white;margin-left: 10px;margin-top: 15px'> Bonjour {{user.prenom}} ! </p>
        <div style='margin-left: auto;'> 
            <a  class="btn btn-outline-primary my-2 my-sm-0"  style='margin-left: auto;' href="/mesjours">Mes journées</a>
            {% if user.ptscomp >= 30 %}
                <a class="btn btn-outline-success my-2 my-sm-0" href={{ path('add_journee')}} style='margin-left: auto;' >Créer une journée</a>
            {% endif %}
        </div>
    {% endif %}
    {% if user == false %}
        <a  class="btn btn-outline-primary my-2 my-sm-0" href="/login">Connexion </a>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/register">Créer un compte</a>
    {% endif %}
</nav>
<div class="example-wrapper text-center">
    <h1>Détails de la journée</h1>
</div>

<div class="card text-center test">
  <div class="card-header">
    <h3>{{ journee.titre }}</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Journée réservée au niveau {{journee.niveau}} ou plus</h5>
    <p class="card-text">{{ journee.description }}</p>
    <p class="card-text">Nombre maximum de participants : {{ journee.nbparticipantsmax }}</p>
  </div>
  <div class="card-footer text-muted">
    {{ journee.date|date('d-m-Y') }} à {{ journee.date|date('H:i:s') }}
  </div>
</div>
<div class="card text-center test">
  <div class="card-header">
    <h4>Liste des participants</h4>
  </div> 
  <div class="card-body">
    {% for key, participant in list %}
    <p class="card-text">{{ participant.user.nom }} {{ participant.user.prenom }} ({{ participant.user.email }}) {% if journee.organisateur == user %} {% if participant.validation == false %}  <a href={{ path('validateuser', {'journee': journee.id, 'user': participant.user.id}) }}  class="btn btn-outline-success">Valider l'utilisateur</a> {% endif %} {% if participant.validation == true %} ✅ {% endif %} {% endif %}</p>
    {% endfor %}
  </div>
</div>

<div class="card text-center test">
  <h1>Commentaire</h1>
  {% if user %}
    {{ form_start(form) }}
        {{ form_row(form.contenu) }}

        <button type="submit" class="btn btn-primary">Poster</button>
    {{ form_end(form) }}
    {% endif %}

    
{% for key, comment in list_comment %}
            <div class="card w-100" >
                <div class="card-body"> 
                    <div class="row"> 
                        <div><h5 class="card-title"> {{ comment.user.nom }} {{ comment.user.prenom }}</h5> </div>
                    </div>
                    <div style=''> {{comment.contenu}} </div>
                </div>
            </div>
{% endfor %}
</div>
{% endblock %}
